

{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  /* cursor:url('img/ellipse.png'),auto; */

}

/* :root {
  font-size: 10px;
} */
html {
  scroll-behavior: smooth;
}

/* Main_page */

.container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  overflow: hidden;
}
.line_1{
  position: absolute;
  width: 1px;
  height: 100%;
  background-color:#2F2F2F;
  margin-left: 5%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
}
.arrowbox{
  position: fixed;
  width: 8vh;
  height: 20vh;
  margin-left: 5%;
  left: -3.9vh;
  top: 70vh;
  z-index: 10;

}
.arrow{
  width: 9%;
  height: 100%;
  background-color: black;
  margin-left: 45%;
  left: 50%;
  z-index: 100;
  transform-origin: 0 10% 0;
}
.container>a{
  position: relative;
  z-index: 10;
}
.arrow:after{
  position: absolute;
  content:'';
  width: 4vh;
  height: 4vh;
  border: 0.8vh solid black;
  border-bottom:none;
  border-right:none;
  left: 4.3vh;
  top: 100%;
  transform-origin:0 10% 0;
  transform: rotate(-135deg);
}
.arrow-back{
  width: 9%;
  height: 100%;
  background-color: black;
  margin-left: 42%;
  z-index: 100;
}
.arrow-back:before{
  position: absolute;
  content:'';
  width: 4vh;
  height: 4vh;
  border: 0.8vh solid black;
  border-top:none;
  border-left:none;
  left: 4.1vh;
  top: 24%;
  transform-origin:0 10% 0;
  transform: rotate(-135deg);
}

.line_2{
  position: absolute;
  width: 1px;
  background-color:#2F2F2F;
  height: 100%;
  right: 0px;
  margin-right: 5%;
  top: 0px;
  opacity: 0.15;
}

.line_3{
  position: absolute;
  width: 1px;
  background-color:#2F2F2F;
  height: 100%;
  margin-left: 50%;
  left: 0px;
  top: 0px;
  opacity: 0.15;
  z-index: 0;
}
.vector_1{
  position: absolute;
  width: auto;
  height: auto;
  left: -400px;
  top: -150px;
  z-index: 0;
}
.vector_3{
  position: absolute;
  width: auto;
  height: auto;
  left: -200px;
  top: 0;
  z-index: 1;
}
.logo{
  background-image: url('img/logomini.png');
  background-size: contain;
  width: 120px;
  height: 120px;
  left: 678px;
  top: 40px;

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  z-index: 3;
}
.nav__item{
  display: inline;
  padding-left: 70px;
}
a{
  color: #2F2F2F;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
}
a:hover{
  text-decoration-line:line-through;
  color: #008B61;
}
li>a{
  text-decoration-line: none;
  color: #2F2F2F;
  /* opacity: 0.8; */
  font-weight: 500;
}
li:hover>a{
  color: #2F2F2F;
  text-decoration-line:none;
  text-shadow: 0px 0px 1px black;
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.intro{
  position: relative;
  max-width: 800px;
  height: auto;
  z-index: 2;
}
.intro-header{
  position: relative;
  border-bottom: 6px solid #2F2F2F;
  padding-bottom: 40px;
  width: 100%;
  z-index: 2;
}

.intro-header h1{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  color: #2F2F2F;
}
.intro-text{
  position: relative;
  z-index: 2;
  width: 100%;
}
.intro-text p{
  margin-top: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  color: #2F2F2F;
}
.item{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 120px;
}
.main-header{
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 5rem;
  text-align: center;
}
.header{
  position: relative;
  display: block;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.75rem;
  z-index: 2;
}
h3.header{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.test{
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
}
.article50{
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
}
.solutions .article50{
  justify-content: center;
}
.article100{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
}
.text{
  position: relative;
  z-index: 2;
  height: auto;
  width: 100%;
  margin-top: 30px;
}
.text~.header{
  margin-top: 5rem;
}
.text p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  color: #2F2F2F;
}
.feature{
  position: relative;
  display:block;
  padding-top: 180px;
  padding-left: 60px;
  width: 100%;
}
.feature li{
  position: relative;
  z-index: 2;
  display:block;
  padding-left:0px;
  padding-bottom: 57px;
  width: auto;
}
.feature li p{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 150%;
  color: #2F2F2F
}

.get-connected{
  position: relative;
  z-index: 2;
  margin-top:70px;
  justify-self: start;
  width: 100%;
}
.get-connected-form{
  margin-top: 40px;
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  widows: 100%;
  height: auto;
}
input:not(:nth-child(5)){
width: 100%;
height: 62px;
font-size: 20px;
color: #b0afa2;
background: #2F2F2F;
padding: 15px 20px;
}
input:focus:not(:nth-child(5)),textarea:focus{
  color: #FFFFFF;
}

form .article50:first-of-type{
  /* gap:62px; */
  padding-left: 0px;
}
textarea{
  width: 100%;
  font-size: 20px;
  color:#b0afa2;;
  background: #2F2F2F;
  padding: 15px 20px;
  line-height: 26px;
}
.inputBox{
  position: relative;
}
.firstField{
  margin-bottom: 62px;
}
.placeholder{
  position: absolute;
  left: 0;
  padding: 15px 20px;
  font-size: 20px;
  color: #b0afa2;
  transition: 0.5s;
  pointer-events: none;
}
.inputArea:focus~.placeholder,
.inputArea:valid~.placeholder,
textarea:focus~.placeholder,
textarea:valid~.placeholder{
  transform: translate(-15px,-50px);
  font-family: Poppins;
  font-size: 20px;
  color: #2f2f2f;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: 0.5s;

}
.btn{
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  min-width: 200px;
  height: 62px;
  color:#2F2F2F;
  background: #FFFFFF;
  border: 6px solid #2F2F2F;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: auto;
  border-radius: 0;
}
.btn:hover{
  cursor: pointer;
  background: #2F2F2F;
  color:#FFFFFF;
}
.btnForm{
  width: 250px;
  }
.team{
  margin-top: 90px;
  z-index: 5;
}
.team .article50:nth-child(2){
  padding-top: 140px;
  gap:10px;
  flex-direction: row;
  justify-content: space-around;
}
.foto-box{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  width: 580px;
  overflow: hidden;
}
.foto-conteiner{
  width: 180px;
  height: 260px;
  text-align: center;
  font-size: 15px;
}
.foto{
  width: 100%;
  height: 75%;
  filter: grayscale(0.9);
  background-size: cover;
  background-repeat: no-repeat;
}
.foto1{
  background-image: url('img/mih.jpg');
}
.foto2{
  background-image: url('img/kirya.jpg');
}
.foto3{
  background-image: url('img/volod.jpg');
  margin-bottom: 0px;
}
.arrowLeft{
  align-self: center;
  width: 25px;
  height: 25px;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(-45deg);
  cursor: pointer;
}
.arrowRight{
  align-self: center;
  width: 25px;
  height: 25px;
  border-top: 5px solid;
  border-right: 5px solid;
  transform: rotateZ(45deg);
  cursor: pointer;
}
footer{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 100%;
  min-height: 500px;
  height: auto;
  background-image: url('img/footer_b_img.png');
  background-repeat:round;
}
footer .text {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .text p{
  color: #b0afa2;
  text-align: left;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.25rem;
}
.footer-line{
  background-color:#b0afa2;
}
.footer-conteiner{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 10px;
}
.footer-conteiner .content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 20px 0;
  gap:20px;
  margin: auto 0
}

.link-blocks{
  display: flex;
  width: 45%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:20px;
}
.link-block{
  display: flex;
  width: 230px;
  justify-content: center;
}

.link-block__menu{
  list-style: none;
  /* width: 40% */

}
.link-block__item_title{
  color: #b0afa2;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.12rem;
  font-weight: bold;

}
.link-block__item{
  display: block;
  text-align: left;
  padding-left: 0px;
  font-size: 1.12rem;
  font-weight: 300;

}
.link-block__link{
  font-weight: 300;
  text-decoration: none;
  color: #b0afa2;
  font-size: 1.12rem;
  line-height: inherit;
}
.link-block__link:hover{
  color: #b0afa2;
}
.link-block__item:hover{
  color: #b0afa2;
}

/* Products page */

.products{
  margin-top: 0px;
}

.products a.header {
  display: inline;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 80px;
  text-decoration: none;
  color: #2F2F2F;
}
.products a.header:visited {
  text-decoration: underline;
}
.products a.header:hover {
  color: #008B61;
  text-decoration:line-through;
}
a.header:hover::after {
  position: absolute;
  margin-left: 20px;
  content: "click me";
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 80px;
  color: #2F2F2F;
  opacity: 0.2;
}
.products .article50:nth-child(2){
  position: relative;
  /* margin-top: 100px; */
}
.video-container{
  position: relative;
  margin-top: 40px;
  position: relative;
  width: 100%;
  max-width: 440px;
  height: 250px;
  border:6px solid black ;
}
.videoCover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('img/play.png');
  background-repeat: no-repeat;
  background-position: center;
}
.player{
  position: fixed;
  display: none;
  width: 60%;
  top:15%;
  left: 20%;
  z-index: 10;
}
.squeeze{
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.circle{
  position: absolute;
  width: auto;
  height: auto;
  top:20%;
  z-index: 0.5;
}

/* Contacts */

.contacts{
  position: relative;
  margin-top: 0px;
  /* margin-bottom: 400px; */
}
.contacts>.item{
  margin-top: 100px;
  width: 50%;
}
.contacts>.item>.text{
  width: 100%;
}
.contacts .text p{
  font-size: 1.5rem;
  line-height: 40px;
}
.text>ul>li{
  position: relative;
  position: relative;
  display: block;
  padding-left: 0;
  padding-bottom: 15px;
}
.link a,.link,.activelink a{
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  /* color: #2F2F2F; */
  color: #008B61;
}
.link:hover>a,.activelink:hover a{
  color: #008B61;
  font-weight: bold;
  text-decoration: underline;
}
.contacts .article50:nth-child(2){
  padding-left: 0px;
  padding-right: 0px;
}
.rectangle{
  width: 100%;
  height: auto;
  z-index: 1;
  filter: grayscale(1);
}
.vector_11{
  transform: scale(0.7);
  position: absolute;
  width: auto;
  height: auto;
  color:red;
  right: -100px;
  bottom: -200px;
  z-index: 0.5;
}
#linkArrow{
  position: fixed;
  width: 0.8vh;
  height: 25vh;
  background-color:black;
  left: -15%;
  top: 70vh;
  transform: rotate(-90deg) scale(0.6);
  z-index: 10;
}
#linkArrow:after{
  position: absolute;
  content:'';
  width: 5vh;
  height: 5vh;
  border: 0.8vh solid black;
  border-bottom:none;
  border-right:none;
  left: 0.8vh;
  top: 100%;
  transform-origin:0 10% 0;
  transform: rotate(-135deg);
}

/* exporter */

.exporter{
  margin-top: 100px;
}

.vector_4{
  position: absolute;
  width: auto;
  height: auto;
  top: 5%;
  transform: scale(0.8);
  z-index: 1;
}
.article50 .header{
  height: 100px;
}
.exporter .box-images .image:nth-child(1){
  margin-top: 0;
}
.box-images .image:nth-of-type(5){
  width: 60%;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 80px;
}

/* exporter_api */

input[type='submit'].copy-bottom:focus:hover{
    color: #FFFFFF;
}
[type='submit'].copy-bottom:focus{
  color:#2F2F2F;
}
.blockCode{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 104%;
  margin-top: 40px;
  margin-left: -2%;
  z-index: 2;
}
.code {
  width: 100%;
}
.code p{
  background-color: black;
  width: 100%;
  font-size: medium;
  display: block;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  line-height: 60px;
}
.exporter_api .text~.header{
  margin-top: 40px;
}
.exporter_api ul{
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -2%;
}
.exporter_api li{
  padding-left: 0px;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #2F2F2F;
  position: relative;
}
.exporter_api li::before{
  content: url('img/rec_for_list.png');
  margin-right: 50px;
}
.exporter_api .image{
  height: auto;
  margin-bottom:80px;
}
.article100 .box-images{
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-between;
}
.image49{
  width: 49%;
  height: auto;
}
.image100{
  width: 100%;
  margin-top:40px;
  height: auto;
  z-index: 2;
}
.vector_5{
  position: absolute;
  width: auto;
  height: auto;
  left: 3%;
  top: 4%;
  transform: scale(0.8);
  z-index: 0.5;
}
.darkscreen_off{
  opacity: 0;
  transition: 0.3s ease;
}
.darkscreen_on{
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 47, 0.8);
  z-index: 5;
  transition: 0.3s ease;
}

.box-images{
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content:space-between;
}
.exporter .box-images{
  height: 100%;
}
.image:nth-of-type(1){
  width: 60%;
  margin-left: 10%;
  margin-right: 30%;
  height: auto;
  /* margin-top: 12%; */
  /* margin-bottom: 80px; */
}
.image:nth-of-type(2){
  width: 40%;
  height: auto;
  /* margin-bottom: 10%; */
  margin-left: 50%;
  margin-right: 10%;
}
.image:nth-of-type(3){
  width: 50%;
  height: auto;
  /* margin-bottom: 80px; */
  margin-left: 10%;
  margin-right: 40%;
}
.image:nth-of-type(4){
  width: 50%;
  height: auto;
  /* margin-bottom: 80px; */
  margin-left: 25%;
  margin-right: 25%;
}
.img-normal{
  position: relative;
  border: 6px solid;
  width: 100%;
  transition: 0.3s ease;
  z-index: 2;
  transition: all 0.5s ease, z-index 0s, position 0s;
}
.img-normal:hover{
  cursor: pointer;
}
.scale-img{
  z-index: 6;
  width: 70%;
  position: fixed;
  top:5%;
  right: 15%;
  height: auto;
  z-index: 6;
  opacity: 1;
  transition: all 0.5s ease, z-index 0s, position 0s;
}

/* .privacy{
  width: 100%;
}
.privacy .article100{
  gap:30px;
  align-items: flex-start;
  padding-left: 3%;
}
.privacy ol{
  padding-left: 3%;
  padding-top: 30px;
}
.privacy li{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;

} */
.privacy .article100{
  /* gap:2rem; */
  align-items: flex-start;
  padding-left: 3%;
}
.privacy p{
  margin: 1.25rem 0;
}
.privacy .text{
  margin: 0 0;
}
.privacy ol {
    padding-left: 3%;
    padding-top: 0.1rem;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.privacy ol p{
  padding-left: 1%;
}
@media (max-width:1505px)
{
  .team .article50:nth-child(2) {
    padding-top: 100px;
  }
  .foto-box{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .arrowLeft{
    transform: rotateZ(45deg);
  }
  .arrowRight{
    transform: rotateZ(135deg);
  }

}

@media (max-width:1270px)
{
  .link-block__item{
    text-align: center;
  }
  .link-block__item_title{
    text-align: center;
  }
  #linkArrow{
    display: none;
  }
}

@media (max-width:1100px)
{
.video-container {
    width: 100%;
    height: calc(100vw/4);
}

}

@media (max-width: 767px)
{
  .firstField{
    margin-bottom: 0px;
  }
  main{
    margin-top: 0px;
  }
  .intro {
      margin-top: 60px;
}
  .item {
    margin-top: 0px;
}
  .article50{
    width: 100%;
    margin-top: 40px;
  }
  form .inputArea{
        margin-bottom: 40px;
  }
  .get-connected .article50{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .intro-header h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .intro-text p {
    font-size: 20px;
    line-height: 28px;

  }
  .team .article50:nth-child(2){
    padding-top: 0px;
  }
  .products {
    margin-bottom: 0px;
  }
  input{
    min-width: 100%;
    width: 100%;
    /* margin-bottom: 10px; */
  }
  form .btn{
    width: 100%;
  }

  .arrow{
    display: none;
  }
  .content li,.content li a{
    text-align: center;
  }
  #linkArrow{
    display: none;
  }
  .contacts {

    margin-bottom: 0px;
  }
  .vector_11 {
    display: none;
}
header {
    margin-left: 30px;
    margin-right: 30px;
}
.header h3 {
  font-size: 2rem;
}
header li {
    display: block;
}
header a {
    line-height: 35px;
}
.feature {
    padding-top: 60px;

}
.article50 .header {
    height: auto;
}
.main-header {
    margin-top: 40px;
}
.text>ul>li>a {
    font-size: 18px;
    line-height: 30px;
}
.exporter_api li {
    font-size: 16px;
    line-height: 40px;
}
.exporter_api li::before {
    margin-right: 15px;
}
.contacts .text p{
  font-size: 24px;
  line-height: 30px;
}
.video-container {
  width: 100%;
  height: 250px;
}
.blockCode {
  width: 100%;
  margin-left: -1%;
}
.box-images {
    margin-top: 0px;
}

.image:nth-of-type(1){
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
    margin-bottom: 40px;
}
.image:nth-of-type(2){
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
    margin-bottom: 40px;
}
.image:nth-of-type(3){
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
    margin-bottom: 40px;
}
.image:nth-of-type(4){
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 40px;
}
.box-images .image:nth-of-type(5) {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 40px;
}

}

@media (max-width:550px)
{
  .foto {
    height: 90%;
  }
  .link-blocks{
    width: 100%;
  }
  .link-block__menu {
    width:100%;
  }
.foto-conteiner{
  width: 100%;
  height: 101vw;
}
.video-container {
    width: 100%;
    height: calc(100vw/2);
  }
  .main-header{
    font-size: 2.5rem;
  }
  .header{
    font-size: 2rem;
  }
  .text p{
    font-size: 1rem;
  }
  .mobile_privacy .article100, .privacy .article100 {
    padding-left: 6%;
    padding-right: 6%;
}
  .header{
    font-size: 1.75rem;
  }
  h3.header{
    font-size: 1.5rem;
    line-height: 2rem;
  }

element.style {
}
.link a, .link {
  font-size: 1rem;
}
