{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:image" content="mainsite/img/logo.png" />
  <meta property="og:image:type" content="{% static 'mainsite/img/logo.png' %}" />
  <link rel="icon" href="{% static 'mainsite/img/logo.png' %}">
  <link rel="icon" href="css/">


  <title> Griffel Studio</title>
  <link rel="stylesheet" href="{% static 'mainsite/style.css' %}">
  <meta name="google-site-verification" content="dnVPdGRVYN_fS693C4B1KIuRNamqRyevNIhSF1T8xN8" />
</head>
<body>
  {% block hover %}
  {% endblock %}
  <header class="header">
    <div class="wrapper">
      <div class="header__content">
        <a href="{% url 'mainsite:index_url' %}" class="logo">
          <div class="logo__img">
          </div>
          <h1 class="logo__title">Griffel Studio</h1>
        </a>
        {% block nav %}
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a class="menu__link menu__link_active" href="{% url 'mainsite:products_url' %}">Products</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
          </ul>
        </nav>
        <div class="button button__header">Get in touch</div>
        {% endblock %}
      </div>
    </div>
  </header>


    {% block content %}
    {% endblock %}

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__content">
        <div class="footer__menu">
          <ul class="footer__list">
            <h3 class="block__text footer__title">Contact Us</h3>
            <li class="footer__item_active"><a class="block__text footer__link footer__link_active" href="mailto:contact@griffelstudio.com">contact@griffelstudio.com</a></li>
          </ul>
        </div>
        <div class="footer__menu">
          <ul class="footer__list">
            <h3 class="block__text footer__title">Download Autodesk App</h3>
            <li class="footer__item"><a class="block__text footer__link" href="https://apps.autodesk.com/RVT/en/Detail/Index?id=8451869436709222290">glTF Exporter</a></li>
            <li class="footer__item"><a class="block__text footer__link" href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215&appLang=en&os=Win64&mode=preview">glTF Exporter ​API</a></li>
          </ul>
        </div>
        <div class="footer__menu_min">
          <ul class="footer__list">
            <h3 class="block__text footer__title">About</h3>
            <li class="footer__item"><a class="block__text footer__link" href="{% url 'mainsite:products_url' %}">Products</a></li>
            <li class="footer__item"><a class="block__text footer__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
            <li class="footer__item"><a class="block__text footer__link" href="{% url 'mainsite:privacy_url' %}">Privacy policy</a></li>
          </ul>
        </div>
        <div class="footer__menu_min">
          <ul class="footer__list">
            <h3 class="block__text footer__title">Follow Us</h3>
            <li class="footer__item"><a class="block__text footer__link" href="https://www.linkedin.com/company/griffel-studio">Linkedin</a></li>
            <li class="footer__item"><a class="block__text footer__link"  href="https://www.facebook.com/griffellstudio">Facebook</a></li>
            <li class="footer__item"><a class="block__text footer__link"  href="https://apps.autodesk.com/en/Publisher/PublisherHomepage?ID=CZGFPBBQ2P6D">Autodesk App</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'mainsite/myscript.js' %}"></script>
</body>
</html>
