{% extends 'mainsite/base.html' %}
{% load static %}
{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link " href="{% url 'mainsite:products_url' %}" >Products</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
    <li class="menu__item"><a class="menu__link " href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link menu__link_active" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<div class="button button__header">Get in touch</div>
{% endblock %}
{% block content %}
<main>
<section class="block contacts">
  <div class="wrapper">
    <div class="contacts__content">
      <h1 class="block__title contacts__title">Contacts</h1>
      <p class=" block__text32 contacts__text">
        Feel free to write and call us. We really
        love to communicate with our clients.
      </p>

      <div class="contacts__info">
        <div class="contacts__links">
          <div class="links__firstBlock">
            <div class="block__text links__phone">Phone: <a class=" block__link block__link_phone" href="tel:+13 674 567 75 54">​+1 843 999 1851</a></div>
            <div class="block__text links__email">E-mail: <a class="block__link" href="mailto:contact@griffelstudio.com">contact@griffelstudio.com</a></div>
          </div>
          <div class="secondBlock">
            <a href="https://www.linkedin.com/company/griffel-studio" class="secondBlock__item">
              <img src="{% static 'mainsite/img/contacts_img1.png' %}"  class="secondBlock__img">
              <p class="block__text secondBlock__text">LinkedIn</p>
            </a>

            <a href="https://www.facebook.com/griffellstudio" class="secondBlock__item">
              <img src="{% static 'mainsite/img/contacts_img2.png' %}"  class="secondBlock__img">
              <p class="block__text secondBlock__text">Facebook</p>
            </a>

            <a href="https://apps.autodesk.com/en/Publisher/PublisherHomepage?ID=CZGFPBBQ2P6D" class="secondBlock__item">
              <img src="{% static 'mainsite/img/contacts_img3.png' %}"  class="secondBlock__img">
              <p class="block__text secondBlock__text">Autodesk App Store</p>
            </a>
          </div>

        </div>
        <div class="contacts__form">
          <form onsubmit="alert('Your message has been sent.')"  action="{% url 'mainsite:form_url' %}" method="post" class="form">
            {% csrf_token %}
            <div class="form__field form__name">
              <input class="inputArea" placeholder="Name" type="text" name="name" required>
              <!-- <span class="placeholder">Name</span> -->
            </div>
            <div class="form__field form__email">
              <input class="inputArea" placeholder="E-mail" type="email" name="email" required>
              <!-- <span class="placeholder">E-mail</span> -->
            </div>
            <div class="form__field form__mesage">
              <textarea class="inputBox" placeholder="Describe your task" name="message"  rows="4" cols="80" required></textarea>
              <!-- <span class="placeholder">Describe your task</span> -->
            </div>
            <button class="button button__form" type="submit">Send</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</section>

</main>

  {% endblock %}
