{% extends 'mainsite/base.html' %}
{% load static %}
{% block nav %}
<nav>
  <ul>
    <li class="nav__item"><a href="{% url 'mainsite:index_url' %}" >about</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:products_url' %}" >products</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:contacts_url' %}" style="text-decoration: line-through; font-weight:600;">contacts</a></li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    <main>
      <span id="linkArrow"></span>
      <section class="contacts item">
        <div class="article50">
          <h1 class="header">Connect</h1>
          <div class="text">
          <p>Interested in working together?</p><br><br>
          <ul>
              <li onmousemove="getnoneActev()" class='link activelink'><a class="active-link" href="{% url 'mainsite:index_url' %}#get-connected">contact@griffelstudio.com</a></li>
              <li class='activelink'><a href="https://www.linkedin.com/company/griffel-studio">LinkedIn</a></li>
              <li class='activelink'><a href="https://www.facebook.com/griffellstudio/">Facebook</a></li>
              <li class='activelink'><a href="https://apps.autodesk.com/en/Publisher/PublisherHomepage?ID=CZGFPBBQ2P6D">Autodesk App</a></li>
          </ul>
          </div>
        </div>
        <div class="article50">
          <img class="rectangle"  src="{% static 'mainsite/img/Rectangle.png' %}" alt="">
        <img class="vector_11" src="{% static 'mainsite/img/Rectangle_11.png' %}" alt="">
        </div>
      </section>
    </main>
  {% endblock %}
