{% extends 'mainsite/base.html' %}
{% load static %}
{% block nav %}
<nav>
  <ul>
    <li class="nav__item"><a href="{% url 'mainsite:index_url' %}" >about</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:products_url' %}" style="text-decoration: line-through;font-weight:600;">products</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:contacts_url' %}">contacts</a></li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    <main>
      <img class="vector_5" src="{% static 'mainsite/img/Vector5.png' %}" alt="">
      <h1 class="main-header">glTF Exporter API</h1>
      <section class="exporter_api item">
        <div class="article50">
          <div class="box-images">
            <div class="image">
              <img class='img-normal'  src="{% static 'mainsite/img/exp_api_image_1.jpg' %}" alt="">
            </div>
            <div class="image">
              <img class='img-normal'  src="{% static 'mainsite/img/exp_api_image_2.jpg' %}" alt="">
              </div>
            <div class="image">
              <img class='img-normal' src="{% static 'mainsite/img/exp_api_image_3.jpg' %}" alt="">
            </div>
            <div class="image">
              <img class='img-normal' src="{% static 'mainsite/img/exp_api_image_4.jpg' %}" alt="">
            </div>
            <div class="image">
              <img class='img-normal' src="{% static 'mainsite/img/exp_api_image_5.jpg' %}" alt="">
            </div>
            </div>
          <h2 class="header"> Settings Explained</h2>
          <div class="text">
            <p>
              Group meshes by element or by material option influences output
              file size (usually it’s bigger for the last option), 3D model
              performance and file structure. In examples below the same models
              were exported with different settings, model on the left has
              meshes grouped by element and model on the right has meshes
              grouped by materials:
            </p>
          </div>
          <img class="image100" src="{% static 'mainsite/img/exp_api_chair.jpg' %}" alt="">
          <div class="text">
            <p>
              Elements have their Revit Ids and are broken down by Revit
              Category, so the output file has nice structure. When grouping
              by materials there are as much nodes in the file tree as
              materials in Revit project.
            </p><br>
            <p>
              Large projects exported by elements may have less FPS rate.
              Number of draw calls for the model above is 6494. Gain more
              FPS exporting by materials - only 55 draw calls - the same as
              number of materials. Though file size for the model is increased
              from 18MB to 29MB.
            </p>
          </div>
        </div>
        <div class="article50">
        <h2 class="header">What is the plugin? </h2>
        <div class="text">
          <p>
            glTF Exporter add-in for Revit exports your project to popular
            &nbsp<a href=" https://www.khronos.org/gltf/">3D glTF format</a>. glTF is universal
            file format for transferring 3D assets which almost every 3D
            software can handle. With glTF Exporter it has never been
            easier to get a Revit project in gltf format.<br> Get it from the
            &nbsp<a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215 ">Autodesk App Store</a> or ask for a special
            quote sending us an email.
        </div>
        <h2 class="header"> How does it work?</h2>
        <div class="text">
          <p>
            To make use of glTF export functionality in your Revit
            add-in project get &nbsp<strong>GS.Revit.GltfExporterAPI.dll</strong> under
          </p>
        </div>
        <div class="blockCode">
          <div class="code">
            <p id="copy-text1">%ProgramData%\Autodesk\ApplicationPlugins\glTF Exporter.bundle\Contents</p>
          </div>
        <button  onclick="copyText(copyText1)" class=" btn copy-bottom" type="submit" value="copy">copy</button>
        </div>
        <div class="text">
          <p><br>
            directory after the &nbsp<a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215">add-in</a> installation.
            <!-- directory after the &nbsp<a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215">add-in</a> installation or
            &nbsp<a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215&appLang=en&os=Win64&mode=preview">download it</a> from our
            website. -->
            <br><br>
            1. Reference GS.Revit.GltfExporterAPI.dll from your
            Revit add-in development C# project (use the library from the
            appropriate folder for your targeting Revit version).<br> 2. You
            need to pass your &nbsp<a href="https://www.revitapidocs.com/2020/8d3b257a-7b99-a6ee-b146-f635c35f425c.htm">personal user ID</a> to validate the license before
            starting the export (you can grab it once and keep in the settings
            of the add-in): &nbsp<a href="https://www.revitapidocs.com/2020/8d3b257a-7b99-a6ee-b146-f635c35f425c.htm">Validate.License(developerId).</a><br> 3. Add the
            following code after license validation to run the export:
          </p>
        </div>
        <div class="blockCode">
          <div class="code">
            <p id="copy-text2">
              var outputPath = @"C:\ExportResult.glb"; var settings = new
              GltfExportSettings(outputPath); var exporter = new
              GltfExporter(settings); exporter.Export(document, view);
            </p>
          </div>
          <button  onclick="copyText(copyText2)" class=" btn copy-bottom" type="submit" value="copy">copy</button>
        </div>
        <div class="text">
          <p>
            4. Resolve compilation errors using GS.Revit.GltfExporterAPI;
             execute the command from a 3D view and see results.
          </p>
        </div>
        <h2 class="header">How our solution helps clients? </h2>
        <div class="text">
          <p>
            The add-in helps HoloLens and other Mixed Reality developers
            get fast tiny files with LODs and all the materials right from
            Revit - no need to convert a Revit project using numerous software
            and tools to get the file AR compatible devices can handle. It will
            take you only a few lines of code to get things done!<br><br> glTF Exporter
            API library features embedded IntelliSense XML documentation and
            provides flexible export options. Except described on settings
            explained page they include:
          </p>
        </div>
        <ul >
          <li>export materials as doublesided</li>
          <li>limit vertices count for a single mesh</li>
          <li>export normals or not</li>
          <li>format output json file and more</li>
        </ul>

        </div>
        <div class="article100">
          <div class="box-images">
            <img class="image49" src="{% static 'mainsite/img/exp_api_image_7.jpg' %}" alt="">
            <img class="image49" src="{% static 'mainsite/img/exp_api_image_8.jpg' %}" alt="">
          </div>

        </div>
        <div class="article50">
          <div class="text">
            <p>
              Level of details determines how many polygons 3D model has.
              It relates mostly for rounded objects and may dramatically
              impact the file size. The same model of torus exported with
              LOD 1, LOD 3 and LOD 15 (5KB, 15KB and 396KB corresponding).
              LOD values ​​from 5 to 7 are generally sufficient.
            </p>
        </div>
        </div>
        <div class="article100">
          <img class="image100" src="{% static 'mainsite/img/exp_api_3x_image.jpg' %}" alt="">
        </div>
        <div class="article50">
          <div class="text">
            <p>
            glTF Exporter maps Revit materials to PBR materials (and to
            KHR if you choose export with merged LODs option) so you can
            get beautifully looking 3D model. But if you what to experiment
            or get some statistics you can skip materials and export geometry
            only disabling Export materials checkbox. This might be useful
            for some geometry analysis.
            </p>
          </div>
            <img class="image100" src="{% static 'mainsite/img/exp_api_image 10.jpg' %}" alt="">
            <div class="text">
              <p>
                Output format option determines files you get. The best choice for
                projects which are going to be send by the Internet is glb format -
                there will be only single file you can immediately email to a
                client, for instance. If you are planning to edit textures or
                want to see the file structure - choose gltf format. You can open
                gltf file with any text editor and edit materials from Textures folder.
              </p>
            </div>
        </div>
        <div class="article100">
          <img class="image100" src="{% static 'mainsite/img/exp_api_image_11.jpg' %}" alt="">
        </div>
        <div class="article50">
          <div class="text">
            <p>
              Projects, exported with the last two options can be saved only as
              glb files: &nbsp<a href="https://github.com/google/draco">Draco compression</a> minimizes file size as much as
              possible. It’s extremely useful for large projects, but remember
              that not all third party software can handle compressed files.
              Difference in file size can be seen from the following export
              results:
            </p>
            <img class="image100" src="{% static 'mainsite/img/exp_api_image_12.jpg' %}" alt="">
            <div class="text" title="подсказка">
              <p>
                Create merged LODs model options improves the quality of detailed
                Revit models handling. With this checkbox enabled glTF Exporter
                creates tree files: one with specified LOD and two other with
                degrading LOD, and merges them into single file. This might be
                specifically useful for Windows Mixed Reality developers.
              </p>
        </div>
      </section>
    </main>
  {% endblock %}
