{% extends 'mainsite/base.html' %}
{% load static %}


{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link menu__link" href="{% url 'mainsite:products_url' %}">Products</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<div class="button button__header">Get in touch</div>
{% endblock %}


{% block content %}
<main>
    <section class="block exporter">
      <div class="wrapper">
          <h1 class="exporter__title exporter__title_api">glTF Exporter+API</h1>
          <div class="exporter__content">
            <p class="block__text exporter__text">
              glTF Exporter API .NET library export projects to
              the universal file format glTF which lots of 3D software
              can handle. If you don't need API to implement glTF export
              in your app use the <a class="block__link" href="{% url 'mainsite:exporter_url' %}">glTF Exporter</a> better.
            </p>
          </div>
          <div class="exporter__buttons">
            <div class="buttonAutodesk">
              <img class="buttonAutodesk__img" src="{% static 'mainsite/img/autodesk.png' %}" >
              <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215&appLang=en&os=Win64&mode=preview"
               class="buttonAutodesk__text">
                Download on the
                AUTODESK APP STORE
              </div>
            </a>
            <div class="buttonAutodesk__note">
              *or ask for a special quote sending us an <a class="block__link" href="mailto:contact@griffelstudio.com">e-mail.</a>
            </div>
          </div>

        </div>
    </section>

    <section class="block rayTraceView">
      <div class="wrapper">
        <div class="HowItWorks__content">
          <img class="rayTraceView__img" src="{% static 'mainsite/img/exporterapi_img1.png' %}">
          <div class="rayTraceView__textBlock">
            <p class="block__text rayTraceView__text">
              Ray Trace view of the model in Revit.
            </p>
            <p class="block__text rayTraceView__text">
              Exported and opened in default Windows 10 application.
            </p>
            <p class="block__text rayTraceView__text">
              Using glTF Exporter API in Visual Studio.
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="block options">
      <div class="wrapper">
        <div class="options__content">
          <div class="options__list">
            <div class="options__item">
              <h3 class="block__title options__title">Options</h3>
              <ul class="block__text options__sublist">
                <li class="options__subitem">Choosing a file format between gltf and packed glb.</li>
                <li class="options__subitem">Choice to export materials or not.</li>
                <li class="options__subitem"> Selection the level of detail for the geometry.</li>
                <li class="options__subitem">Mesh baking by elements or materials.</li>
                <li class="options__subitem">Compression meshes using Draco compression</li>
                <li class="options__subitem">Exporting a model with multiple LODs combined into one file.</li>
                <li class="options__subitem">Export file in glTF format via API with some statistics and validation results.</li>
              </ul>
            </div>
            <div class="options__item">
              <img class="options__img" src="{% static 'mainsite/img/options.png' %}">
            </div>
          </div>s
          <div class=" button options__button">Settings explained</div>
      </div>
    </section>

    <section class="block howItWork">
      <div class="wrapper">
        <div class="howItWork__content">
          <h2 class=" block__title howItWork__title">How does it work?</h2>

          <div class="connectingProject">
            <h3 class="connectingProject__title">Сonnecting the project to the code</h3>
            <div class="connectingProject__getLink">
              <p class="block__text getLink__text">
                To make use of glTF export functionality in your Revit add-in project
                get GS.Revit.GltfExporterAPI.dll under:
              </p>
              <div class="getLink__linkBlock linkBlock">
                <p id="copy-text1" class="linkBlock__text">
                  %ProgramData%\Autodesk\ApplicationPlugins\glTF Exporter.bundle\Contents
                </p>
                <div onclick="copyText(copyText1)" class="linkBlock__copybutton copybutton">
                  <img class="copybutton__img" src="{% static 'mainsite/img/copy.png' %}">
                  <div class="copybutton__text">Copy</div>
                </div>
              </div>
            </div>

            <p class="block__text  connectingProject__text">Then:</p>
            <img class="connectingProject__img1" src="{% static 'mainsite/img/exporterapi_img2.png' %}"  >
            <div class="connectingProject__instruction instruction">
              <div class="instruction__item">
                <h3 class="block__subtitle instruction__title">1. Add .dll</h3>
                <p class=" block__text instruction__text">
                  Reference GS.Revit.GltfExporterAPI.dll from your Revit add-in development C# project
                  (use the library from the appropriate folder for your targeting Revit version).
                </p>
              </div>
              <div class="instruction__item">
                <h3 class="block__subtitle instruction__title">2. Validate license</h3>
                <p class=" block__text instruction__text">
                  You need to pass your personal user ID to validate the license before starting the
                  export (you can grab it once and keep in the settings of the add-in): Validate.
                  License(developerId)
                </p>
              </div>
              <div class="instruction__item">
                <h3 class="block__subtitle instruction__title">3. Create settings</h3>
                <p class=" block__text instruction__text">
                  Add the following code after license validation to run the export:
                </p>
                <div class="instruction__linkBlock linkBlock linkBlock_code">

                  <code class="linkBlock__text">
                    <p id="copy-text2">
                      var outputPath = @"C:\ExportResult.glb";<br>
                      var settings = new GltfExportSettings(outputPath);<br>
                      var exporter = new GltfExportSettings(settings);<br>
                      exporter.Export(document, view);
                    </p>
                  </code>
                  <div onclick="copyText(copyText2)" class="linkBlock__copybutton copybutton">
                    <img class="copybutton__img" src="{% static 'mainsite/img/copy.png' %}">
                    <div class="copybutton__text">Copy</div>
                  </div>
                </div>

              </div>
              <div class="instruction__item">
                <h3 class="block__subtitle instruction__title">4. Do the export</h3>
                <p class=" block__text instruction__text">
                  Resolve compilation errors using GS.Revit.GltfExporterAPI;
                  execute the command from a 3D view and see results.
                </p>
              </div>
            </div>
          </div>

          <h3 class="connectingProject__title connectingProject__title_end">Or downloading a file from Revit</h3>


          <div class="howItWork__item howItWork__item_first">
            <div class="banner">
              <h3 class="block__text32 banner__title">
                1. Opening
              </h3>
              <p class="block__text banner__text">
                Open any 3D view in Revit 2018 or later version and run the command glTF export.
              </p>
            </div>
            <img src="{% static 'mainsite/img/howItWork_img1.png' %}" class="howItWork_img howItWork_img_absolute">
          </div>

          <div class="howItWork__item">
            <img src="{% static 'mainsite/img/howItWork_img2.png' %}" class="howItWork_img">
            <div class="banner">
              <h3 class="block__text32 banner__title">
                2. Saving
              </h3>
              <p class="block__text banner__text">
                Select the settings for export and click the button. The files in the folder
                will be available to you.
              </p>
              <img src="{% static 'mainsite/img/howItWork_img2.2.png' %}" class="baner_img">
            </div>
          </div>

          <div class="howItWork__item">
            <div class="banner banner_top">
              <h3 class="block__text32 banner__title">
                3. Using
              </h3>
              <p class="block__text banner__text ">
                Once you have the gltf file you can send it to 
                your client, share on the internet, preview in 
                many gltf viewers or import into your software development project.
              </p>
            </div>
            <img src="{% static 'mainsite/img/howItWork_img3.png' %}" class="howItWork_img">
          </div>

          <div class=" howItWork__item howItWork__item_last">
            <img src="{% static 'mainsite/img/exporterapi_img4.png' %}" class="howItWork_img_right">
          </div>

          <div class="howItWork__item howItWork__item_absoluteApi">
            <img src="{% static 'mainsite/img/exporterapi_img5.png' %}" class="howItWork_img">
            <div class="banner">
              <p class="block__text banner__text">
                Use it any way you like.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block howHelp">
      <div class="wrapper">
        <div class="howHelp__content">
          <h2 class=" block__title howHelp__title">
            How our solution helps clients?
          </h2>
          <p class="block__text howHelp__text">
            The add-in helps HoloLens and other Mixed Reality developers get
            fast tiny files with LODs and all the materials right from Revit - no
            need to convert a Revit project using numerous software and tools to get
            the file AR compatible devices can handle. It will take you only a few
            lines of code to get things done!
          </p>
          <p class="block__text howHelp__text">
            glTF Exporter API library features embedded IntelliSense XML documentation
            and provides flexible export options. Except described on settings explained
            page they include:
          </p>
          <ul class="block__text howHelp__list">
            <li class="howHelpItem">export materials as doublesided;</li>
            <li class="howHelpItem">limit vertices count for a single mesh;</li>
            <li class="howHelpItem">export normals or not;</li>
            <li class="howHelpItem">format output json file and more.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block settings">
      <div class="wrapper">
        <div class="settings__content">
          <h2 class=" block__title settings__title">
            Settings Explained
          </h2>
          <div class="settings__groupMeshes groupMeshes">
            <h3 class="block__subtitle groupMeshes__title">Group meshes</h3>
            <ul class="groupMeshes__list">
              <li class="block__text groupMeshes__item">
                Group meshes by element or by material option influences output file size,
                3D model performance and file structure.
              </li>
              <li class="block__text groupMeshes__item">
                Elements have their Revit Ids and are broken down by Revit Category, so 
                the output file has nice structure.
              </li>
              <li class="block__text groupMeshes__item">
                When grouping by materials there are as much nodes in the file tree
                as materials in Revit project.
              </li>
            </ul>
            <div class="groupMeshes__oneImgBlock oneImgBlock">
              <img class="oneImgBlock__img" src="{% static 'mainsite/img/settings_img1.png' %}">
              <div class="oneImgBlock__textBlock">
                <p class="block__text oneImgBlock__text ">Model on the left has meshes grouped by element.</p>
                <p class="block__text oneImgBlock__text">Model on the right has meshes grouped by materials.</p>
              </div>
            </div>
            <div class="groupMeshes__twoImgBlock twoImgBlock">
              <div class="twoImgBlock__item">
                <img class="twoImgBlock__img" src="{% static 'mainsite/img/settings_img2.png' %}">
                <p class="block__text twoImgBlock__text">
                  Large projects exported by elements may have less FPS rate.
                  Number of draw calls for this model is 6494.
                </p>
              </div>
              <div class="twoImgBlock__item">
                <img class="twoImgBlock__img" src="{% static 'mainsite/img/settings_img3.png' %}">
                <p class="block__text">
                  Gain more FPS exporting by materials — only 55 draw calls — the same as
                  number of materials. Though file size for the model is increased from
                  18MB to 29MB.
                </p>
              </div>
            </div>
          </div>

          <div class="settings__levelDetails levelDetails">
            <h3 class="block__subtitle levelDetails__title">Level of details</h3>
            <div class="levelDetails__imgList">
              <img class="levelDetails__imgItem" src="{% static 'mainsite/img/settings_img4.png' %}">
              <img class="levelDetails__imgItem" src="{% static 'mainsite/img/settings_img5.png' %}">
              <img class="levelDetails__imgItem" src="{% static 'mainsite/img/settings_img6.png' %}">
            </div>
            <div class="levelDetails__textBlock">
              <p class="block__text">
                Level of details determines how many polygons 3D model has. It relates mostly for rounded
                objects and may dramatically impact the file size.
              </p><br>
              <p class="block__text">
                The same model of torus exported with LOD 1, LOD 3 and LOD 15 (5KB, 15KB and
                396KB corresponding). LOD values ​​from 5 to 7 are generally sufficient.
              </p>
            </div>
          </div>

          <div class="settings__ExportMat ExportMat">
            <h3 class="block__subtitle ExportMat__title">Export materials</h3>
            <img class="ExportMat__img" src="{% static 'mainsite/img/settings_img7.png' %}">
            <div class="ExportMat__textBlock">
              <p class="block__text">
                glTF Exporter maps Revit materials to PBR materials (and to KHR if you
                choose export with merged LODs option) so you can get beautifully looking 3D model.
              </p><br>
              <p class="block__text">
                But if you what to experiment or get some statistics you can skip materials and export
                geometry only disabling Export materials checkbox. This might be useful for some geometry analysis.
              </p>
            </div>
          </div>

          <div class="settings__oututFormat oututFormat">
            <h3 class="block__subtitle oututFormat__title">Export materials</h3>
            <img class="oututFormat__img" src="{% static 'mainsite/img/settings_img8.png' %}">
            <div class="oututFormat__textWidthImg">
              <div class="oututFormat__textBlock">
                <p class="block__text .oututFormat__text">
                  Output format option determines files you get. The best choice for
                  projects which are going to be send by the Internet is glb format — there
                  will be only single file you can immediately email to a client, for instance.
                </p>
                <p class="block__text .oututFormat__text">
                  If you are planning to edit textures or want to see the file structure — choose gltf
                  format. You can open gltf file with any text editor and edit materials from Textures
                  folder.
                </p>
              </div>
              <img class="oututFormat__img" src="{% static 'mainsite/img/settings_img9.png' %}">
            </div>
          </div>

          <div class="settings__dracoCompres dracoCompres">
            <h3 class="block__subtitle dracoCompres__title">Draco compression</h3>
            <p class=" block__text dracoCompres__text">
              Draco compression minimizes file size as much as possible. It’s extremely
              useful for large projects, but remember that not all third party software
              can handle compressed files. Exported projects with this option can be saved
              only as glb files. Difference in file size can be seen from the following export
              results:
            </p>
            <img class="dracoCompres__img" src="{% static 'mainsite/img/settings_img10.png' %}">
          </div>

          <div class="settings__creating creating">
            <h3 class=" block__subtitle creating__title">Creating merged LODs model </h3>
             <p class=" block__text creating__text">
              Create merged LODs model options improves the quality of detailed Revit
              models handling. With this checkbox enabled glTF Exporter creates tree
              files: one with specified LOD and two other with degrading LOD, and merges
              them into single file. Thismight be specifically useful for Windows Mixed
              Reality developers.
            </p>
          </div>


        </div>
      </div>
    </section>


  </main>
{% endblock %}
