<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title> Griffel Studio</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <span class="line_1"></span>
    <span class="line_2"></span>
    <span class="line_3"></span>
    <!-- <span class="vector_1"></span> -->
    <!-- <span class="vector_3"></span> -->
    <header>
      <a href="#">
        <div class="logo"></div>
      </a>
      <nav>
        <ul>
          <li><a href="">about</a></li>
          <li><a href="">products</a></li>
          <li><a href="">scontacts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="intro">
        <div class="intro-header">
          <h1>Griffel Studio develops automatization solutions for the AEC industry.</h1>
        </div>
        <div class="intro-text">
          <p>
            We create mobile, desktop and cloud applications to 
            change processes inside the industry to reimage usual 
            workflows, make them faster and simpler, at the same time 
            keeping them deep and reliable as they were for centuries.
          </p>
        </div>
      </section>
      <section class="solutions">
        <h2 class="solution-header">Solutions</h2>
        <div class="solution-text">
          <p>
            We create software which solves 
            the industry questions on how to implement BIM in a company easier, 
            what's the best way to use VR in the office.
          </p><br>
          <p>
            Griffel Studio collaborates
            with architectural firms to understand what's needed for them now.
            This collaboration has resulted in mutually beneficial projects
            we are currently working on. We believe that each peace of work
            produced by our company will become a part of something big in
            future, follow us to stay informed.
          </p><br>
          <p>
            We create software which
            improves design workflows and helps to get the job done better ,
            delivering impressive results to customers faster. Apart of this,
            if you need a custom solution to fulfill your design needs - just
            get in touch, we are here to discuss, share ideas and create decisive 
            programs for your AEC business.
          </p>
        </div>
        <ul class="feature">
          <li><a href="#">Mobile and web application development</a></li>
          <li><a href="#">Revit plugins creation</a></li>
          <li><a href="#">Mixed Reality solutions</a></li>
          <li><a href="#">Check the list of our products</a></li>
        </ul>
      </section>
      <section class="get-connected">
        <h2 class="get-connected-header">Get connected</h2>
        <div class="get-connected-forma">
          <form action="">
            <input type="text" placeholder="your name">
            <input type="text" placeholder="phone number">
            <input type="email" placeholder="email adres">
            <input type="submit" value="send">
          </form>
        </div>
      </section>
      <section class="team">
        <h2 class="team-header">Team</h2>
        <div class="team-text">
          <p>
            The core of our team consists of dedicated engineers - specialists who 
            hold industry specific knowledge, implement software development best 
            practices and are capable of working beyond AEC and IT fields, 
            masterfully leveraging working principles of both and bringing 
            the best of each into the other. 
          </p><br>
          <p>
            Having departments in Sydney Australia, Atlanta
            USA and Minsk Belarus we are working 24 hours a day, 
            so you can reach us anytime
          </p>
        </div>
        <div class="fotos">
          <div class="foto"></div>
          <div class="foto"></div>
          <div class="foto"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="foot"></div>
    </footer>
  </div>
  <script src="myscript.js"></script>
</body>
</html>
