{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}
    <!-- <div class="arrowbox"><div class="arrow"></div></div> -->
    <main>
      <section class="intro">
        <img class="vector_1" src="{% static 'mainsite/img/Vector1.svg' %}" alt="">
        <div class="intro-header">
          <h1>Griffel Studio develops automation solutions for the AEC industry.</h1>
        </div>
        <div class="intro-text">
          <p>
            We create mobile, desktop and cloud applications to
            change processes inside the industry to reimage usual
            workflows, make them faster and simpler, at the same time
            keeping them deep and reliable as they were for centuries.
          </p>
        </div>
      </section>
      <section class="solutions item">
        <div class="article50">
        <h2 class="header">Solutions</h2>
        <div class="text">
          <p>
            We create software which solves
            the industry questions on how to implement BIM in a company easier,
            what's the best way to use VR in the office.
          </p><br>
          <p>
            Griffel Studio collaborates
            with architectural firms to understand what's needed for them now.
            This collaboration has resulted in mutually beneficial projects
            we are currently working on. We believe that each peace of work
            produced by our company will become a part of something big in
            future, &nbsp<a href="{% url 'mainsite:contacts_url' %}">follow us </a>&nbsp to stay informed.
          </p><br>
          <p>
            We create software which
            improves design workflows and helps to get the job done better ,
            delivering impressive results to customers faster. Apart of this,
            if you need a custom solution to fulfill your design needs - just
            get in touch, we are here to discuss, share ideas and create decisive
            programs for your AEC business.
          </p>
        </div>
      </div>
        <div class="article50">
          <ul class="feature">
            <li><p>Mobile and web application development</p></li>
            <li><p>Revit plugins creation</p></li>
            <li><p>Mixed Reality solutions</p></li>
            <img class="vector_3" src="{% static 'mainsite/img/Vector3.svg' %}" alt="">
          </ul>
        </div>
      </section>
      <section class="team item">
        <div class="article50">
        <h2 class="header">Team</h2>
        <div class="text">
          <p>
            The core of our team consists of dedicated engineers - specialists who
            hold industry specific knowledge, implement software development best
            practices and are capable of working beyond AEC and IT fields,
            masterfully leveraging working principles of both and bringing
            the best of each into the other.
          </p><br>
          <p>
            Having departments in Sydney Australia, Atlanta
            USA and Minsk Belarus we are working 24 hours a day,
            so you can reach us anytime
          </p>
        </div>
      </div>
        <div class="article50">
          <div class="arrowLeft"></div>
          <div class="foto-box"></div>
          <div class="arrowRight"></div>
        </div>
      </section>
      <section id="get-connected" class="get-connected">
        <div class="article100">
        <h2 class="header">Get connected</h2>
        <div class="get-connected-form">
          <form onsubmit="alert('Your message has been sent.')" action="{% url 'mainsite:form_url' %}" method="post">
            {% csrf_token %}
            <div class="article50">
              <div class="inputBox firstField">
                  <input class="inputArea"  type="text" name="name" required>
                  <span class="placeholder">your name</span>
              </div>
              <div class="inputBox">
                  <input class="inputArea" type="text" name="email" required>
                  <span class="placeholder">email address</span>
              </div>
            </div>
            <div class="article50">
              <div class="inputBox">
                  <textarea class="inputBox"  name="message"  rows="6" cols="80" required></textarea>
                  <span class="placeholder">text your message</span>
              </div>
              <button class=" btn btnForm " type="submit" value="copy">send</button>
            </div>
          </form>
        </div>
      </div>
      </section>
    </main>
{% endblock %}
