{% extends 'mainsite/base.html' %}
{% load static %}


{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link menu__link" href="{% url 'mainsite:products_url' %}">Products</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<div class="button button__header">Get in touch</div>
{% endblock %}
{% block hover %}
<div class="hover"></div>
{% endblock %}

{% block content %}
<main>
  <section class="intro">
    <div class="wrapper">
        <div class="intro__content">
          <h1 class="intro__title">
            Griffel Studio develops automation solutions for the AEC industry.
          </h1>
          <p class="intro__subtitle">
              We create mobile, desktop and cloud applications to
              change processes inside the industry to reimage usual
              workflows, make them faster and simpler, at the same time
              keeping them deep and reliable as they were for centuries.
          </p>
        </div>
      </div>
    </section>

    <section class="block solutions">
      <div class="wrapper">
        <div class="solutions__content">
          <h2 class=" block__title solutions__title">Solutions</h2>
          <div class="solutions__item">
            <div class="banner">
              <h3 class="banner__title">
                BIM technologies
              </h3>
              <p class="banner__text">
                We follow the latest trends of the BIM world and
                try to develop new design principles and approaches.
                We introduce Mixed Reality technology to the design process.
              </p>
            </div>
            <img src="{% static 'mainsite/img/solution_img1.png' %}" class="solutions_img">
          </div>
          <div class="solutions__item">
            <img src="{% static 'mainsite/img/solution_img2.png' %}" class="solutions_img">
            <div class="banner">
              <h3 class="banner__title">
                Custom solutions
              </h3>
              <p class="banner__text">
                If you need a custom solution for your design needs — just
                get in touch! We are always here to create decisive programs
                for your AEC business.
              </p>
            </div>
          </div>
          <div class="solutions__item">
            <div class="banner">
              <h3 class="banner__title">
                Collaborations
              </h3>
              <p class="banner__text">
                We always look for new mates to learn from them and to
                share our ideas. We keep tight bonds with our partners to
                deliver mutually beneficial projects.
              </p>
            </div>
            <img src="{% static 'mainsite/img/solution_img3.png' %}" class="solutions_img">
          </div>
        </div>
      </div>
    </section>

  <section class="block whatWeDo">
    <div class="wrapper">
      <div class="whatWeDo__content">
        <h2 class="block__title whatWeDo__title">What we do?</h2>
        <div class="whatwedo__list">
          <div class="whatWeDo__item">
            <img src="{% static 'mainsite/img/we_do_img1.png' %}" class="whatWeDo__img">
            <p class="whatWeDo__subtite">Add-ins for Revit</p>
          </div>
          <div class="whatWeDo__item">
            <img src="{% static 'mainsite/img/we_do_img2.png' %}" class="whatWeDo__img">
            <p class="whatWeDo__subtite">Mobile and web application development</p>
          </div>
          <div class="whatWeDo__item">
            <img src="{% static 'mainsite/img/we_do_img3.png' %}" class="whatWeDo__img">
            <p class="whatWeDo__subtite">Mixed Reality solutions</p>
          </div>
        </div>

        <a href="{% url 'mainsite:products_url' %}" class="button button__regular">Our products</a>

      </div>
    </div>
  </section>

  <section id="get-connected" class="block connect">

    <div class="connect__bg">
      <div class="connect__formBlock">
        <div class="connect__formBlockContent">
          <h2 class=" block__title connect__title">Let’s create together</h2>
          <p class="connect__subtitle">Send us a message</p>
          <form action="" class="form">
            <div class="form__name">
              <input class="inputArea"  type="text" name="name" required>
              <span class="placeholder">Name</span>
            </div>
            <div class="form__email">
              <input class="inputArea" type="email" name="email" required>
              <span class="placeholder">E-mail</span>
            </div>
            <div class="form__mesage">
              <textarea class="inputBox"  name="message"  rows="4" cols="80" required></textarea>
              <span class="placeholder">Describe your task</span>
            </div>
            <button class="button button__form" type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="connect__img">
      </div>
    </div>

  </section>

  <section class="block about">
    <div class="wrapper">
      <div class="about__block">
        <div class="about__img"></div>
        <div class="about__text">
          <p class="about__subtitle">
            We create mobile, desktop and cloud applications
            to change processes inside the industry to reimage usual
            workflows, make them faster and simpler, at the same
            time keeping them deep and reliable as they were for centuries.
          </p>
          <p class="about__sign">Griffel Studio team</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
