{% extends 'mainsite/base.html' %}
{% load static %}

{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link " href="{% url 'mainsite:products_url' %}" >Products</a></li>
    <li class="menu__item"><a class="menu__link menu__link_active" href="{% url 'mainsite:news_url' %}" style="color: #12A276">News</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<!-- <div class="button button__header">Get in touch</div> -->
{% endblock %}

{% block content %}
<main>
    <seaction class="block news">
      <div class="wrapper">
        <div class="news__content">
          <h2 class="block__title news__mainTitle">News</h2>
          <div class="news__items">

            <div class="news__item">
              <img class="news_img" src="{% static 'mainsite/img/news_1.png' %}">
              <div class="news__textWrapper">
                <div class="news__data">08.03.2021</div>
                <h3 class="block__text32 news__title">
                  Our goals
                </h3>
                <div class="news__textBlock">
                  <p class="block__text18 news__text">
                    Provide AEC businesses with modern software and custom solutions
                    When we started the company it was clear that the entire AEC
                    industry had started to move forward and to adopt new technologies
                    at the pace never seen before.
                    Our goal is to provide AEC companies with modern software and
                    custom solutions. Looking further, we aim to make the industry
                    not just adopt new technologies but use them inventively for
                    benefits of both business and clients.
                  </p>
                </div>

                <div id="news_1"  class="news_botton">Read more</div>
              </div>
            </div>

            <div class="news__item">
              <img class="news_img" src="{% static 'mainsite/img/news_2.png' %}">
              <div class="news__textWrapper">
                <div class="news__data">08.03.2021</div>
                <h3 class="block__text32 news__title">
                  AR/VR in education
                </h3>
                <div class="news__textBlock">
                  <p class="block__text18 news__text">
                    Visuals rule the world. It is true that vision is the main
                    channel of getting information for most people. AR/VR tools
                    allow you to transmit information in a highly illustrative manner.
                    Architecture and engineering students are able to see structural
                    elements in detail. It is not necessary (though still desirable)
                    to visit a construction site in person to see how things are done.
                    And obviously it is much safer to learn how to run the site or operate
                    heavy machinery when you are in an auditorium with a headset on.
  	                Emotions help to absorb information.Traditional education ignores
                    emotions as an important aspect of the teaching process. It is
                    believed that emotions interfere with the information perception
                    rather than help. However, we are convinced that any at first
                    glance boring material can be learned more effectively when the
                    student is involved in the process emotionally. AR/VR technologies
                    can increase student involvement significantly.
                  </p>
                </div>
                <div id="news_2" class="news_botton">Read more</div>
              </div>
            </div>
          </div>
          <!-- <div class="button button__regular news__mainbutton">Show more</div> -->
        </div>
      </div>
    </seaction>



  </main>
{% endblock %}
