{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}
<main>
  <section class="privacy">
    <div class="article100">
            <h2 class="header">Privacy Policy</h2>
            <p>Last updated: December 10, 2020</p>
            <div class="text">
              <p>
                This Privacy Policy explains how personal data is collected,
                used and stored in relation to applications provided by Griffel Studio.
              </p>
              <h3 class="header">Do we collect personal information?</h3>
              <p>
                All add-ins (the App) published by Griffel Studio in Autodesk
                App Store follow the next statements:
              </p>
              <ol>
                  <li>
                      <p>
                        The App collects model information as it is necessary for
                        the App to perform its intended functions
                      </p>
                  </li>
                  <li>
                      <p>
                        The App may access User ID of the user to verify the licence
                        via Autodesk Entitlement API and also get access to the camera,
                        but we do not collect any information about the users of the application
                      </p>
                  </li>
              </ol>
              <p>Data described in clauses 1 and 2 is not shared with any third parties.</p>
              <p>Data described in clauses 1 and 2 is not stored anywhere. It is deleted once the App exits.</p>
              <p>If the user does not agree with any clause of the policy the user should not use the App.</p>
              <h3 class="header">Will This Privacy Policy Change?</h3>
              <p>
                We may change this Privacy Policy. The updated Privacy Policy will be available here. We will show
                the date the Privacy Policy was last updated to help you know when we change it. If we make material
                changes to our Privacy Policy, we will endeavor to provide you with notice before such changes take
                effect, such as through prominent notice on our website or services or by email.
              </p>

              <h3 class="header">How To Contact Us?</h3>
              <p>
                If you want to contact us, please use the following contact information. When you do so, please tell
                us the name of the application about which you are contacting us:
              </p>
              <p>By email at: <a class='link' href="{% url 'mainsite:index_url' %}#get-connected">contact@griffelstudio.com</a></p>
          </div>
    </div>
  </section>
</main>


{% endblock %}
