{% extends 'mainsite/base.html' %}
{% load static %}

{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link menu__link_active" href="{% url 'mainsite:products_url' %}">Products</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<div class="button button__header">Get in touch</div>
{% endblock %}

{% block content %}
<main>
      <section class="block products">
        <div class="wrapper">
          <div class="products__content">
            <h2 class="block__title products__title">Our products</h2>
            <div class="products__list">
              <div class="products__item">
                <div class="banner">
                  <h2 class="banner__title_main">
                    glTF Exporter
                  </h2>
                  <p class="block__text banner__text">
                    Add-in for Revit which exports projects to 3D glTF format.
                  </p>
                  <h3 class="block__text banner__title">
                    For whom?
                  </h3>
                  <p class="block__text banner__text">
                    glTF Exporter is for architectural firms which need a quick and
                    simple way to visualize Revit projects in their custom software or 
                    game engines like Unity or Unreal Engine.
                  </p>
                </div>
                <div class="banner__buttons">
                  <div class="banner__buttonAutodesk">
                    <div class="buttonAutodesk">
                      <img class="buttonAutodesk__img" src="{% static 'mainsite/img/autodesk.png' %}" >
                      <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=8451869436709222290" class="buttonAutodesk__text">
                        Download on the
                        AUTODESK APP STORE
                      </a>
                    </div>
                    <div class="buttonAutodesk__note">
                      *or ask for a special quote sending us an <a class="text__link" href="mailto:contact@griffelstudio.com">e-mail.</a>
                    </div>
                  </div>
                  <a href="{% url 'mainsite:exporter_url' %}" class="button button__readmore">Read more</a>
                </div>
              </div>

              <div class="products__item">
                <div class="banner">
                  <h2 class="banner__title_main">
                    glTF Exporter+API
                  </h2>
                  <p class="block__text banner__text">
                    Add-in for Revit which exports projects to 3D glTF format and gives API.
                  </p>
                  <h3 class="block__text banner__title">
                    For whom?
                  </h3>
                  <p class="block__text banner__text">
                    glTF Exporter+API is for VR and AR developers who work with architectural
                    projects and need a reliable way to get 3D models out of Revit.
                  </p>
                </div>
                <div class="banner__buttons">
                  <div class="banner__buttonAutodesk">
                    <div class="buttonAutodesk">
                      <img class="buttonAutodesk__img" src="{% static 'mainsite/img/autodesk.png' %}" >
                      <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215&appLang=en&os=Win64&mode=preview" class="buttonAutodesk__text">
                        Download on the
                        AUTODESK APP STORE
                      </a>
                    </div>
                    <div class="buttonAutodesk__note">
                      *or ask for a special quote sending us an <a class="text__link" href="mailto:contact@griffelstudio.com">e-mail.</a>
                    </div>
                  </div>
                  <a href="{% url 'mainsite:exporter_api_url' %}" class="button button__readmore">Read more</a>
                </div>
              </div>
            </div>
         </div>
      </section>

      <section class="block HowItWorks">
        <div class="wrapper">
          <div class="HowItWorks__content">
            <h2 class="block__title HowItWorks__title">How it works?</h2>
            <div class="HowItWorks__video">
              <video id="video" width="100%" height="100%" preload="metadata" controls loop="true"  poster="{% static 'mainsite/img/poster.png' %}" muted="muted">
                <source src="{% static 'mainsite/video/video.mp4' %}" type='video/mp4' />
              </video>
              <img class="HowItWorks__play" src="{% static 'mainsite/img/play_button.png' %}">
            </div>
          </div>
        </div>
      </section>

    </main>
{% endblock %}
