{% extends 'mainsite/base.html' %}
{% load static %}
{% block nav %}
<nav>
  <ul>
    <li class="nav__item"><a href="{% url 'mainsite:index_url' %}" >about</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:products_url' %}" style="text-decoration: line-through;font-weight:600;">products</a></li>
    <li class="nav__item"><a href="{% url 'mainsite:contacts_url' %}">contacts</a></li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    <main>
      <img class="circle" src="{% static 'mainsite/img/circle.svg' %}" alt="">
      <section class="products item">
        <div class="article50">
          <a class="header" href="{% url 'mainsite:exporter_url' %}" >glTF Exporter</a>
          <div class="text">
            <p>
              glTF Exporter​ add-in for Revit exports your project to popular
              3D glTF format glTF is universal file format for transferring
              3D assets which almost every 3D software can handle.
              With glTF Exporter it has never been easier to get a
              Revit project in gltf format. Get it from the Autodesk
              App Store or ask for a special quote sending us an email.
            </p><br>
            <p>
              Get it from the &nbsp <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=8451869436709222290">Autodesk App Store</a>&nbspor
              ask for a special quote sending us <a href="{% url 'mainsite:index_url' %}#get-connected ">&nbspan email.</a>
            </p>
          </div>
          <div class="video-container">
            <div class="squeeze">
              <video id="video" width="100%" preload="metadata" controls loop="true"  poster="{% static 'mainsite/img/Logomini.png' %}" muted="muted">
                <source src="{% static 'mainsite/img/video.mp4' %}" type='video/mp4' />
              </video>
            </div>
            <!-- <div class="videoCover">
            </div> -->
          </div>
        </div>
        <div class="article50">
          <a class="header" href="{% url 'mainsite:exporter_api_url' %}" >glTF Exporter ​API</a>
          <div class="text">
            <p>
              glTF Exporter API .NET library allows you to export projects to
              the popular glTF 3D format. glTF is universal file format for
              transferring 3D assets which almost every 3D software can handle.
            </p><br>
            <p>
              Get it from the &nbsp <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=4018039617950599215&appLang=en&os=Win64&mode=preview">Autodesk App Store</a>&nbspor
              ask for a special quote sending us <a href="{% url 'mainsite:index_url' %}#get-connected">&nbspan email.</a>
            </p>
          </div>
        </div>
      </section>
    </main>
  {% endblock %}
