{% extends 'mainsite/base.html' %}
{% load static %}


{% block nav %}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link menu__link" href="{% url 'mainsite:products_url' %}">Products</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:news_url' %}">News</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:team_url' %}">Our team</a></li>
    <li class="menu__item"><a class="menu__link" href="{% url 'mainsite:contacts_url' %}">Contacts</a></li>
  </ul>
</nav>
<!-- <div class="button button__header">Get in touch</div> -->
{% endblock %}

{% block content %}
<main>
    <section class="block exporter wmrx">
      <div class="wrapper">
          <div class="exporter__content">
            <h1 class="exporter__title">WMR Experience</h1>
            <p class="block__text exporter__text">
              Preview your project in Windows Mixed Reality immersive headset
              in one click!
            </p>
          </div>
          <div class="exporter__buttons">
            <div class="buttonAutodesk">
              <img class="buttonAutodesk__img" src="{% static 'mainsite/img/autodesk.png' %}" >
              <a href="https://apps.autodesk.com/RVT/en/Detail/Index?id=8451869436709222290" class="buttonAutodesk__text">
                Download on the
                AUTODESK APP STORE
              </a>
            </div>
          </div>

        </div>
    </section>

    <section class="block ranwmrx">
      <div class="wrapper">
        <div class="ranwmrx__content">
          <p class="block__text ranwmrx__text">
            Run WMR Experience command and the add-in will make all necessary
            preparations for Mixed Reality Portal. Find your project title in
            the Places picker to walk it in a virtual reality headset.
            Griffel Studio's Windows Mixed Reality Experience is the fastest
            and simplest way to take the first look at your project in real scale.
          </p><br>
          <p class="block__text18 ranwmrx__text">
            * you must have one of the <a class="block__link" href="https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/set-up-windows-mixed-reality">Windows Mixed Reality headsets set up </a> and running on your PC.<br>
            ** WMR Experience command is working only on <a class="block__link" href="https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/set-up-windows-mixed-reality">Windows 10 version 1803 and later.</a>
          </p>
      </div>
    </section>

    <section class="block howItWork howItWork_wmrx">
      <div class="wrapper">
        <div class="howItWork__content">
          <h2 class=" block__title howItWork__title">How does it work?</h2>

          <div class="howItWork__item howItWork__item_first">
            <div class="banner">
              <h3 class="block__text32 banner__title">
                1. Launch the add-in.
              </h3>
              <p class="block__text banner__text">
                Click 'WMR Experience' button and let the preparation finish.
              </p>
            </div>
            <img src="{% static 'mainsite/img/wmrx_img1.png' %}" class="howItWork_img">
          </div>

          <div class="howItWork__item howItWork__item_middle">
            <img src="{% static 'mainsite/img/wmrx_img2.png' %}" class="howItWork_img">
            <div class="banner">
              <h3 class="block__text32 banner__title">
                2. Mixed Reality Portal
              </h3>
              <p class="block__text banner__text">
                Start 'Mixed Reality Portal' Windows application.
              </p>
            </div>
          </div>

          <div class="howItWork__item">
            <div class="banner ">
              <h3 class="block__text32 banner__title">
                3. Places Picker
              </h3>
              <p class="block__text banner__text ">
                Find your project in the 'Places Picker'.
              </p>
            </div>
            <img src="{% static 'mainsite/img/wmrx_img3.png' %}" class="howItWork_img">
          </div>
        </div>
      </div>
    </section>

    <section class="block HowItWorks">
      <div class="wrapper">
        <div class="HowItWorks__content">
          <!-- <h2 class="block__title HowItWorks__title">How it works?</h2> -->
          <div class="HowItWorks__video">
            <iframe poster="{% static 'mainsite/img/poster.png' %}" width="100%" height="100%" src="https://www.youtube.com/embed/t9ZyJI2tGqM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <img class="HowItWorks__play" src="{% static 'mainsite/img/play_button.png' %}"> -->
          </div>
        </div>
      </div>
    </section>


  </main>
{% endblock %}
